{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Comment Moderation{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Comment Moderation</h1>
</div>
<!--使用Jinja2提供的set指令定义一个模板变量moderate, 对于普通用户(没有设定moderate变量), 不显示标记为有问题的评论-->
<!--对于协管员(moderate设为True), 不管评论是否标记为有问题, 都要显示, 而且在正文下面显示一个用来切换状态的按钮-->
{% set moderate = True %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.moderate') }}
</div>
{% endif %}
{% endblock %}